PORT=8080
MONGO_URI=""

NODE_ENV=production

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Open Router
OPEN_ROUTER_API_KEY=""

BACKEND_URL=http://localhost:8080
FRONTEND_URL=""


# Bravo Smtp
EMAIL_PASS=""
EMAIL_USER=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_EMAIL="""
